<!-- row slider -->
<div class="row">
	<!-- slider -->
	<div class="col-lg-12 col-xs-12">
		<div id="myCarousel" class="carousel slide myCarousel" data-interval="false" data-ride="carousel">
		  	<ol class="carousel-indicators">
		    	<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
		    	<li data-target="#myCarousel" data-slide-to="1"></li>
		    	<li data-target="#myCarousel" data-slide-to="2"></li>
		    	<li data-target="#myCarousel" data-slide-to="3"></li>
		    	<li data-target="#myCarousel" data-slide-to="4"></li>
		  	</ol> 
		  	<!-- Carousel items -->
		  	<div class="carousel-inner">
		    	<div class="active item">
			      <!--put img inside itens like this-->
			      <img src="images/pet/pet_banner.jpg" alt="...">
		        	<div class="container">
				    	<div class="carousel-caption">
					        <h3>First slide label</h3>
					        <p>It's Responsive and Pauses on hover</p>
				        </div>
				    </div>
				</div>
			    <div class="item">
			    	<img src="images/pet/cho_banner.png" alt="...">
			        <div class="container">
				        <div class="carousel-caption">
					        <h3>Second slide label</h3>
					        <p>If you use controls, progress bar will change too.</p>
				        </div>
			        </div>
			    </div>
			    <div class="item">
			    	<img src="images/pet/meo_banner.jpg" alt="...">
			        <div class="container">
				        <div class="carousel-caption">
					        <h3>Third slide label</h3>
					        <p>Bug fixed</p>
				        </div>
			        </div>
			    </div>
			    
			    <div class="item">
			    	<img src="images/pet/vet_banner.jpg" alt="...">
			        <div class="container">
				        <div class="carousel-caption">
					        <h3>Third slide label</h3>
					        <p>Bug fixed</p>
				        </div>
			        </div>
			    </div>
			    <div class="item">
			    	<img src="images/pet/vet_meo_banner.jpg" alt="...">
			        <div class="container">
				        <div class="carousel-caption">
					        <h3>Third slide label</h3>
					        <p>Bug fixed</p>
				        </div>
			        </div>
			    </div>

		  	</div>
		  	<hr class="transition-timer-carousel-progress-bar" />
		  	<a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
		    	<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
		    	<span class="sr-only">Previous</span>
		  	</a>
		  	<a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
		    	<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
		    	<span class="sr-only">Next</span>
		  	</a>
		</div>
	</div>
	<!-- end slider -->
</div>
<!-- end row slider -->